<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.water.mapper.GuigeListMapper">
  <resultMap id="BaseResultMap" type="com.water.entity.GuigeList">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="water_id" jdbcType="VARCHAR" property="waterId" />
    <result column="guige" jdbcType="VARCHAR" property="guige" />
    <result column="price" jdbcType="VARCHAR" property="price" />
  </resultMap>

  <select id="getwaterGuiGe" parameterType="String" resultMap="BaseResultMap">
    SELECT
      guige,
      price
    FROM
      guigelist
    WHERE 1=1
    <if test="id!=null and id!=''">
      AND guigelist.water_id =${id}
    </if>
    ORDER BY cast(guigelist.price as signed)
  </select>

</mapper>