<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.water.mapper.TicketsMapper" >
  <resultMap id="BaseResultMap" type="com.water.entity.Tickets" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="ticket_num" property="ticketNum" jdbcType="VARCHAR" />
  </resultMap>

 <select id="getUserTickets" parameterType="String" resultType="String">
   SELECT
     ticket_num ticketNum
   FROM
     tickets
   WHERE 1=1
    <if test="id!=null and id!=''">
      AND user_id =${id}
    </if>

 </select>

</mapper>