<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.water.mapper.WaterTypeMapper">
  <resultMap id="BaseResultMap" type="com.water.entity.WaterType">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
  </resultMap>

  <select id="getWaterType" resultType="com.water.Vo.WaterTypeVo">
    SELECT
      brandtype.id typeId,
      watertype.id,
      watertype.type,
      brandtype.categoryId,
      waterbrand.brandName,
      waterbrand.imgUrl
    FROM
      watertype
        LEFT JOIN brandtype ON watertype.id = brandtype.typeId
        LEFT JOIN waterbrand ON waterbrand.id = brandtype.brandId
    ORDER BY
      watertype.id,
      brandtype.categoryId
  </select>
  <select id="getWaterTypeId" resultMap="BaseResultMap">
    SELECT
      id,
      type
    FROM
      watertype
    ORDER BY
      id
  </select>

  <select id="getSearchResult" parameterType="String" resultType="map">
    SELECT
      concat( brandtype.id, '' ) typeId,
      concat( watertype.id, '' ) id,
      watertype.type,
      concat( brandtype.categoryId, '' ) categoryId,
      waterbrand.brandName,
      waterbrand.imgUrl,
      concat( waterinfo.id, '' ) waterId,
      waterinfo.NAME waterName
    FROM
      watertype
        LEFT JOIN brandtype ON watertype.id = brandtype.typeId
        LEFT JOIN waterbrand ON waterbrand.id = brandtype.brandId
        LEFT JOIN waterinfo ON waterinfo.waterType = brandtype.id
    WHERE
      waterinfo.id IS NOT NULL
      <if test="value!='' and value!=null">
        AND (
        waterbrand.brandName LIKE CONCAT( '%', #{value}, '%' )
        OR waterinfo.NAME LIKE CONCAT( '%', #{value}, '%' )
        OR watertype.type LIKE CONCAT( '%', #{value}, '%' )
        )
      </if>
  </select>
</mapper>