<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.water.mapper.WaterInfoMapper" >
  <resultMap id="BaseResultMap" type="com.water.entity.WaterInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="specs" property="specs" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="discount" property="discount" jdbcType="DECIMAL" />
    <result column="stock" property="stock" jdbcType="VARCHAR" />
    <result column="salesVolume" property="salesvolume" jdbcType="VARCHAR" />
    <result column="onLineDate" property="onlinedate" jdbcType="DATE" />
    <result column="shareNum" property="sharenum" jdbcType="VARCHAR" />
    <result column="waterType" property="watertype" jdbcType="VARCHAR" />
    <result column="describe" property="describe" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
  </resultMap>
  <update id="updateState" parameterType="String">
    UPDATE `water`.`waterinfo`
    SET
      `stock` = '0',
      `salesVolume` = '0',
    WHERE
      `id` = #{id}
  </update>
  <update id="updateStockAndSalesvolume" parameterType="String">
    UPDATE `water`.`waterinfo`
    SET `stock` = #{stock},
        `salesVolume` = #{salesvolume}
    WHERE
      `id` = #{id}
  </update>
  <select id="getWaterInfo" parameterType="String" resultMap="BaseResultMap">
    SELECT
      id,
      NAME,
      url,
      specs,
      price,
      discount,
      stock,
      salesVolume,
      onLineDate,
      shareNum,
      waterType,
      describes,
      state
    FROM
      waterinfo
    WHERE
      state = '0'
    <if test="typeId!='' and typeId!=null">
      and waterType =#{typeId}
    </if>
    <if test='type=="0"'>
      ORDER BY
      specs DESC,
      salesVolume+0 DESC,
      price * discount+0
    </if>
    <if test='type=="1"'>
      ORDER BY salesVolume+0 DESC
    </if>
    <if test='type=="2"'>
      ORDER BY price * discount+0
    </if>
  </select>
  <select id="getWaterInfoById" parameterType="String" resultMap="BaseResultMap">
    SELECT
      id,
      NAME,
      url,
      specs,
      price,
      discount,
      stock,
      salesVolume,
      onLineDate,
      shareNum,
      waterType,
      describes,
      state
    FROM
      waterinfo
    WHERE
      state = '0'
      AND id =#{id}
  </select>
  <select id="getWaterByTypeId" parameterType="String" resultMap="BaseResultMap">
    SELECT
      *
    FROM
      `waterinfo`
    WHERE
      waterType =#{watertype}
  </select>
</mapper>